html {
  scroll-behavior: smooth;
  width: 100%;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.rubik {
  font-family: 'Rubik', sans-serif;
}

*::selection {
  background-color: #02C39A50;
  opacity: .15;
  color: white;
}

:root {
  --thumbScroll: #cbd5e0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--thumbScroll);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--thumbScroll);
}

::-webkit-scrollbar-thumb:active {
  background: var(--thumbScroll);
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.bg-pattern {
  background-image: url(./images/endless-clouds.svg);
}